[connection]
id=prius-ap
uuid=6dcdca03-3a8f-4bc8-8516-055e82e3f578
type=wifi
autoconnect=false
interface-name=wlan0

[wifi]
band=bg
mode=ap
ssid=prius

[wifi-security]
key-mgmt=wpa-psk
psk=${AP_PSK}

[ipv4]
method=shared

[ipv6]
addr-gen-mode=default
method=ignore

[proxy]
