[connection]
id=prius-dev-wifi
uuid=3a19f234-a4ef-4dea-9453-3014cf0c0e6a
type=wifi
autoconnect=false
interface-name=wlan0

[wifi]
mode=infrastructure
ssid=in_the_middle_of_nowhere

[wifi-security]
key-mgmt=wpa-psk
psk=${DEV_WIFI_PSK}

[ipv4]
method=auto
route-metric=700

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
