[connection]
id=prius-wan
uuid=c7aaf944-b4c2-4f50-b52b-8f90d3417364
type=gsm

[gsm]
apn=internet
pin=${SIM_PIN}

[ipv4]
method=auto
route-metric=800

[ipv6]
addr-gen-mode=default
method=auto
route-metric=800

[proxy]
