[connection]
id=wg-homelab
uuid=218d8c55-9f83-4dc9-b335-3a157d217908
type=wireguard
interface-name=wg-homelab

[wireguard]
private-key=${WG_PRIVATE_KEY}

[wireguard-peer.${WG_PEER_PUBLIC_KEY}]
endpoint=46.224.54.21:51820
persistent-keepalive=25
allowed-ips=10.200.0.0/24;192.168.0.0/24;

[ipv4]
address1=10.200.0.5/32
dns=1.1.1.1;
dns-search=~;
method=manual

[ipv6]
addr-gen-mode=default
method=disabled

[proxy]
